body{
    font-family: Arial, sans-serif;
    background-color: rgb(234, 208, 191);
    margin: 0;
}
h1, h2{
    text-align: center;
    margin: 0;
}
h1{
    font-size: 34px;
    /* background: url('img/crinklepaper.jpg') center center/cover repeat; */
    background: url('img/crinklepaper.jpg') repeat; 
    height: 61px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 23px 0;
    color: rgb(0%, 50%, 0%);
}
h2{
    font-size: 24px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    color: #00ff00;
}
p{
    text-indent: 40px;
    font-size: 14px;
    color: green;
}
ul{
    font-size: 14px;
    font-style: italic;
    color: green;
}
a{
    display: flex;
    justify-content: center;
    font-size: 14px;
}
span{
    font-weight: bold;
    font-style: italic;
}
